/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: Minomu;
    src: url("MinomuRegular-4BV0B.otf");
}
*{
    font-family: "Poppins";
}

body {
    font-family: 'Arial', 'sans-serif';
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}
h1 {
    font-family: Minomu;
}
#form {
    display: flex;
    flex-direction: column;
}
#logo{
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#lang{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
}
#chat-container {
    align-content: center;
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 50px auto auto;
    font-family: 'Arial', 'sans-serif';
}

#input {
    display: flex;
    margin-top: 5px;
}

#chat-box {
    overflow-y: auto;
    max-height: 300px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

#user-input {
    width: 80%;
    padding: 8px;
    margin-right: 8px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 13px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    min-width: 30px;
    height: 30px;
}

h4 {
    font-weight: normal;
    font-size: 1.25em;
}

.input_box{
    width: 50%;
    padding: 8px;
    margin-right: 8px;
    margin-top: 0;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.question_prompt{
    margin: 5px;
}

select {
    width: 25%;
    padding: 8px;
    margin-right: 8px;
    margin-top: 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    color: #333;
    font-family: 'Arial', 'sans-serif';
    cursor: pointer;
}

select:focus {
    outline: none;
    border-color: #4CAF50;
}

select option {
    padding: 8px;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

.navbar {
    background-color: #ffffff;
    overflow: hidden;
    padding-bottom: 20px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.nav-item {
    flex: 1;
}

.nav-link {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: background-color 0.3s;
    font-family: Minomu;
}

.nav-link:hover {
    background-color: #dadada;
}

.nav-link.active {
    background-color: #4CAF50;
    font-weight: bold;
}

.circular-island {
            position: absolute;
            top: 10px;
            left: 10px;
            width: 100px;
            height: 60px;
            border-radius: 15px;
            background-color: #ffffff;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.circular-island a {
    text-decoration: none;
    color: #333;
    font-size: 24px;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.circular-island img {
    width: 60px;
    height: auto;
}
#translate_icon{
    font-size: 30px;
    padding: 0;
}
.language-text {
    opacity: 1;
    transition: opacity 1s ease-in-out;
}
#language-text-container{
    text-align: right;
    width: 100px;
    padding-right: 8px;
}