<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="all">
    <title>RefugeeAssist</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    <div class="circular-island">
        <a href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='/home_back.png') }}" class="fas fa-home" alt="Home"/>
        </a>
    </div>
    <div id="chat-container">

        <img src="{{ url_for('static', filename='logo.png') }}" id="logo">

        <div id="form">
            <div id="lang">
                <div id="language-text-container">
                    <span id="languageText" class="language-text">Language</span>
                </div>
                <select id="dropdwn">
                    <option value="en">...</option>
                    <option value="en">English</option>
                    <option value="es">Español</option>
                    <option value="fr">Français</option>
                    <option value="pt">Português</option>
                    <option value="de">Deutsch</option>
                    <option value="sw">Kiswahili</option>
                    <option value="ar">عربي</option>
                    <option value="fa">فارسی</option>
                    <option value="ps">پښتو</option>
                    <option value="my">မြန်မာ</option>
                    <option value="uk">українська</option>
                    <option value="ru">Русский</option>
                    <option value="zh">中国人</option>
                    <option value="ja">日本語</option>
                    <option value="ko">한국인</option>
                    <option value="vi">Tiếng Việt</option>
                    <option value="hi">हिंदी</option>
                    <option value="sa">संस्कृत</option>
                    <option value="ur">اردو</option>
                </select>
                <button id="trans-button" onclick="translatePage()"><i class="fa-solid fa-language" id="translate_icon"></i></button>
            </div>
            <h4 class="trans" id="text1">
                Before we get started, please enter some information about yourself to
                get a more personalized experience. This information is never collected or saved, and
                is only used to improve the information the chatbot provides for you.
                If you would not like to share, leave the box blank.
            </h4>
            <div class="question">
                <p class="question_prompt" id="text2">What is your country of origin?</p>
                <input type="text" id="origin" class='input_box' placeholder="Type here">
            </div>
            <div class="question">
                <p class="question_prompt" id="text3">Where do you currently reside?</p>
                <input type="text" id="destination" class='input_box' placeholder="Type here">
            </div>
            <div class="question">
                <p class="question_prompt" id="text4">How long have you been in your host country?</p>
                <input type="text" id="duration" class='input_box' placeholder="Type here">
            </div>
            <div class="question">
                <p class="question_prompt" id="text5">What is your age?</p>
                <input type="text" id="age" class='input_box' placeholder="Type here">
            </div>
            <br>
            <div class="question">
                <p class="question_prompt" id="text8">For any immediate health concerns, please contact local emergency services.</p>
            </div>
            <br>
            <button id="submit_form" class="trans" onclick="submitForm()">Continue</button>
        </div>
        <div id="chatbot">
            <div id="chat-box"></div>
            <div id="input">
            <input type="text" id="user-input" onkeydown="checkEnterKey(event)" placeholder="Type your message...">
            <button id="send-button" class="trans" onclick="run()">Send</button>
            <img id="typing" src="{{ url_for('static', filename='/typing-optimized.gif') }}">
        </div>
        </div>
    </div>
    <div id="session_id" style="display: none">{{ session_id }}</div>
    <script type="importmap">
        {
            "imports": {
              "@google/generative-ai": "https://esm.run/@google/generative-ai",
              "translate": "https://cdn.jsdelivr.net/npm/translate/index.min.js"
            }
        }
    </script>
    <script src="{{ url_for('static', filename='/py_script.js') }}?" type="module"></script>
</body>
</html>
